* {
    padding: 0;
    margin: 0;
    font-family: "Yusei Magic", sans-serif !important;
}

body {
    background-image: url('../Imagens/horizontalroxo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

img {
    height: 25rem;
    width: 25rem;
}

h1 {
    font-size: 5.3rem;
    color: #ffffff;
    cursor: pointer;
    transition: all 100ms ease;
}

h1:hover {
    transition: all 100ms ease;
    transform: scale(1.1);
}